{% extends 'M2LPagesBundle::layout.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1>Oops! Une erreur s'est produite</h1>
            <h2>Le server affiche "{{ status_code }} {{ status_text }}".</h2>

            <div>
                <p>Le server rencontre un problème interne.</p>
                <p>Cela sera réglé d'ici peu.</p>
                <p>Veuillez nous excuser pour les problèmes occasionnés.</p>
            </div>
        </div>
    </div>

{% endblock %}
