/* Main style
------------------------------------------- */

body 
{
  background-color: #DCDCDC;
  color: #DCDCDC;
  padding-top: 50px;
}

h1
{
  text-align: center;
}
h2
{
  text-align: center;
}

p
{
  text-align: center;
}

a
{
  text-align: center;
}

.container form
{
    text-align: center;
}

.container input.form-control
{
    display: table-row;
    text-align: center;
    width: 220px;
}

.container input#_submit
{
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 200px;
}

.container a.link
{
    text-align: center;
    display: block;
    font-size: 1.2em;
}

div.fos_user_success
{
    text-align: center;
}

body 
{
  background-color: #DCDCDC;
  color: #DCDCDC;
  padding-top: 50px;
}

h1
{
  text-align: center;
}
h2
{
  text-align: center;
}

p
{
  text-align: center;
}

